@charset "UTF-8";

:root{
    --cor0: #EDEAC5;
    --cor00:#edeac5d0;
    --cor1: #C0B186;
    --cor3: #A28C63;
    --cor4: #4C3F2E;
    --cor5: #000000;
} 

body{
    background-color: var(--cor3);
}

*{
    margin:0px;
    padding: 0px;
}

nav {
    padding-bottom: 30px;
    min-width: 365px;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    height: 8vh;
}
   
nav a{
    color:var(--cor0);
    padding:15px;
    text-decoration:none;
    text-shadow:  var(--cor5);
    box-shadow: 10px;
}

nav a:hover{
    color: var(--cor3);
}

nav a:active{
    color:var(--cor4);
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: var(--cor0);
    margin: 8px;
    transition: 0.3s
}

@media (max-width: 696px) {
    nav{
        padding-top: 20px;
    }
    body{
        overflow-x: hidden;
    }
    .nav-list {
        position:absolute;   
        right: 0;
        width:40%;
        height: 75%;
        background: var(--cor4);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        text-size-adjust: auto;
    }
    .nav-list li {
        margin-left: 0;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity:1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity:0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

header{
    padding-bottom: 50px;
}

main{
    
    background-color:var(--cor00);
    padding: 20px;
    box-shadow: inset 0px 4px  6px rgba(0, 0, 0, 0.212);
}

main h1{
    text-align: center;
    color: var(--cor4);
    font-size:xx-large;
}

.container{
    border-spacing: 20px;   
    display: flex;

}

main a{
    color:var(--cor3)
}

main a:hover{
    color: var(--cor1);
}

main p{
    color:var(--cor4);
    margin: auto;
    text-align: justify ;
    max-width: 500px;
    text-indent: 30px;
}

aside{
    margin: auto;
}

aside img{
    width: 90px;
}

section{
    padding-bottom: 100px;
}

footer{
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.315);
    background-color:var(--cor5);
    margin:auto;
    text-align: center;
    padding: 16px;
}

footer p{
    color:white
}

footer a{
    color:var(--cor1);
    text-decoration: none;
}

footer a:hover{
    color: var(--cor3); 
}

#Tutorial{
    padding:0;
    text-align: center;
    color:var(--cor4);
    margin: auto;
    border-spacing: 20px;   
    display: flex;
}

#Livros{
    padding-top: 100px;
}